In [2]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [3]:
a = 'hello world'
b = a.upper()
print(b)

HELLO WORLD

In [4]:
a = 'KALAL SHIVANI'
b = a.lower()
print(b)

kalal shivani

In [5]:
a = 'hello world'
b = a.replace('hello', 'hi')
print(b)

hi world

In [6]:
a = '1234asa'
b = a.isdigit()
print(b)

False

In [7]:
a =range(10)
print(a)

range(0, 10)

In [10]:
a = range(10)
b = list(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
my_list = list(range(5,15,2))
print(my_list)

[5, 7, 9, 11, 13]

In [12]:
def add_numbers (a,b):
  result = a + b
  return result

  result2 = add_numbers(10,2)
  print(result2)

In [16]:
def calculate_sum(*args):
  total = sum(args)
  return total

print("sum of 1,2,3,4 :", calculate_sum(1,2,3,4))
print("sum of 1,2,3,4,5 :", calculate_sum(1,2,3,4,5))

sum of 1,2,3,4 : 10
sum of 1,2,3,4,5 : 15

In [17]:
add = lambda x, y : x + y
result = add(3,5)
print(result)

8

In [18]:
is_palidrome = lambda s: s==s[::-1]
print(is_palidrome("radar"))

True